##############################
#          Settings          #
##############################
#
# Server Name
SERVER_NAME="Survival"
#
# Linux Username
SERVER_USER="minecraft"
#
# Server Root Folder
SERVER_DIR="/home/$SERVER_USER/$SERVER_NAME"
#
# Server Jar File
SERVER_JAR="$SERVER_DIR/$SERVER_NAME.jar"
#
# Max RAM to Allocate
RAM="2G"
#
# Log File
LOG_FILE="$SERVER_DIR/logs/latest.log"
#
# Backup Date Format
BACKUP_TIME=`date "+%Y-%m-%d_%Hh%M"`
#
# Directory to save backups to
BACKUP_DIR="/home/$SERVER_USER/Backups/$SERVER_NAME"
#
# Files/Folders to backup
declare -A BACKUP 
BACKUP=(
#	["Filename"]="files to backup"
#	["Worlds"]="World World_nether World_the_end"
	["World"]="World"
	["World_Nether"]="World_nether"
	["World_End"]="World_the_end"
	["Plugins"]="plugins -x!plugins/dynmap/web/tiles/*"
	["Server"]="*"
)
#
##############################
#          Advanced          #
##############################
#
# Java Arguments
JAVA_ARGS="-XX:+AggressiveOpts -XX:+AlwaysPreTouch -XX:+DisableExplicitGC -XX:+UseG1GC -XX:+UnlockExperimentalVMOptions -XX:MaxGCPauseMillis=100 -XX:TargetSurvivorRatio=90 -XX:G1NewSizePercent=50 -XX:G1MaxNewSizePercent=80 -XX:InitiatingHeapOccupancyPercent=10 -XX:G1MixedGCLiveThresholdPercent=50"
# Name for Linux screen
SCREEN_NAME="$SERVER_NAME"
# Server Executable
SERVER_EXE="java"
# Server Paramaters
SERVER_PARAMS="-server -Xmx${RAM} -Xms${RAM} $JAVA_ARGS -jar $SERVER_JAR"
# Command to stop server
STOP_COMMAND="stop"
# Commands to use when saving server
SAVE_COMMANDS=(
	"save-all"
#	"region save"
#	"perm save"
)
# Commands to use to disable file saving (Used when backing up)
SAVE_DISABLE_COMMANDS=(
	"save-off"
)
# Commands to use to enable file saving (Used when backing up)
SAVE_ENABLE_COMMANDS=(
	"save-on"
)
# Time to wait for server to start
START_TIME=10
# Time to wait for server to stop
STOP_TIME=10
# Time to wait for command to execute
COMMAND_TIME=1
# Time to wait for server to stop when using /restart in-game
SPIGOT_RESTART_TIME=30
